.profile-img {
  display: inline-block;
  margin: 0 auto;
  width: 50%;
  max-width: 200px;
  border-radius: 50%;
}

dt {
  font-weight: bolder;
}

.about-container {
  margin: 10px;
  text-align: center;
}

.skills {
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.tech-stack-container {
  width: 70%
}

.about-contents, .blog-contents, .contact-contents {
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
  padding: 10px 0;
  max-width: 600px;
}

.blurb {
  color: #6666e0;
}

.bio, .blurb {
  padding: 10px 0;
  width: 85%;
}

.tech-stack-container {
  padding-top: 10px;
}

.pics {
  margin: 10px auto;
  display: block;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
}

.education-container {
  width: 90%;
}