.profile-img {
  display: inline-block;
  width: 50%;
  max-width: 300px;
  border-radius: 50%;
}

dt {
  font-weight: bolder;
}

.about-container {
  margin: 10px;
}

.profile-img {
  display: block;
  margin: 0 auto;
}

.skills {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.tech-stack-container {
  width: 70%
}

/* Some vars */
/* $background-color: hsl(50, 5, 97);
$black: hsl(200, 40, 10);
$white: $background-color;
$base-font-size: 2.4em;
$base-line-height: 1.5em; */

.groucho {
  position: relative;
  font-family: 'Sanchez', serif;
  font-size: 2.4em;
  line-height: 1.5em;
}

blockquote footer {
  font-size: 0.6em;
  font-weight: 700;
  color: darken(hsl(50, 5, 97), 15%);
  float: right;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote:before {
  content: open-quote;  
}
  
blockquote:after {
  content: close-quote;
  position: absolute;
  top: 0.28em;
  right: 0;
  font-size: 6em;
  font-style: italic;
  color: darken(hsl(50, 5, 97), 7%);
  z-index: -1;
}

blockquote:before,
blockquote:after {
  display: inline-block;
  vertical-align: bottom;
  color: orange;
  font-size: 4em;
  top: .2em;
  position: relative;
}