.profile-img {
  display: inline-block;
  margin: 0 auto;
  max-width: 200px;
  background: linear-gradient(to bottom right, #7ff7ad, #629df8 50%, #d32daf 75%, #d32daf 75%);
  background-size: cover;
  background-blend-mode: luminosity;
}

.profile-img:hover, .profile-img:focus {
  cursor: pointer;
}

dt {
  font-weight: bolder;
  padding: 0 10px;
}

.about-contents dd {
  padding-top: 5px;
  background-color: white;
}

.about-container {
  text-align: center;
}

.about-contents h3 {
  padding-top: 30px;
}

.skills {
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.tech-stack-container {
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: left;
  margin: 0 auto;
}

.about-contents, .blog-contents, .contact-contents {
  background-color: white;
  border-radius: 8px;
  padding: 10px 0;
  max-width: 800px;
}

.bio, .blurb {
  padding: 10px 0;
  width: 85%;
  line-height: 1.5;
  text-align: justify;
}
.bio p {
  margin: 10px;
}
.pics {
  margin: 20px auto;
  display: block;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
}

.education-container {
  width: 90%;
  text-align: left;
}

.education-container dd {
  text-align: left;
  padding-left: 25px;
}

.profile-container {
  position: relative;
  width: 90%;
}

.profile-overlay {
  border-radius: 8px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: rgb(255, 255, 255);
}
.profile-container:hover .profile-overlay, .profile-container:focus .profile-overlay {
  opacity: 1;
}

.resume, .contact-me {
  display: block;
  margin: 10px auto;
  max-width: 60%;
  color: white;
  cursor: pointer;
  background-color:#1D2636;
  font-size: 24px;
  padding: 20px;
  font-family: Raleway,sans-serif;
  font-weight: 400;
  letter-spacing: 5px;
  border-radius: 8px;
}

.resume:hover, .resume:focus, .contact-me:hover, .contact-me:focus {
  transition: .4s ease-in-out;
  background-color: transparent;
  color: #1D2636;
}

@media screen and (max-width: 320px) {
  .resume, .contact-me {
    font-size: 16px;
  }
}