/* ============== BODY ============== */
.uppercase {
  text-transform: uppercase;
  font-size: 40px;
}

.hamburger {
  position: fixed;
  top: 0;
  left: 0;
  padding: 8px;
}

#bar {
  padding: 0;
  margin: 0 auto;
  font-size: 24px;
  color: #1D2636;
}

.home {
  padding-bottom: 50px;
}

a {
  text-decoration: none;
  color:#1D2636;
}

a:hover, a:focus {
  color: #6666e0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

h1, h2, h3 {
  margin: 8px 0 8px 0;
}

.gallery-list .gallery img {
  width: 400px;
}

.about-container, .projects-container, .blog-container, .contact-container {
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 50px;
}

h2 {
  padding: 5px;
  font-weight: 500;
  text-align: center;
}

.featured-list {
  margin: 0;
  padding: 0;
  text-align: center;
}

dt {
  padding-top: 10px;
}

/* ============== FOOTER ============== */
.social-media-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.footer-items {
  font-size: 10px;
  display: block;
  padding: 10px;
}

.site-footer {
  /* position:fixed;
  left:0px;
  bottom:0px; */
  width:100%;
  background-color: #e8e9e8;
  /* background-color: transparent; */
}

.footer-logo {
  width: 25px;
}

.linkedin {
  width: 28px;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	80% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}

.footer-items:hover, .footer-items:focus, .project-icon:hover, .project-icon:focus {
	animation: bounce 1s;
}

.ombre-bar {
  padding: 2px;
  margin-bottom: 10px;
  background: linear-gradient(to left, #7ff7ad, #629df8 50%, #d32daf 75%, #d32daf 75%);
}