/* ======= HEADER ======= */
.navbar {
  justify-content: space-between;
  align-items: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  border-bottom: 1px solid #999;
}

.nav-items {
  display: inline-flex;
  list-style: none outside;
  padding: 10px;
  text-align: left;
}

.nav-items > a:hover {
  color: black;
}

h1 {
  text-align: center;
}

.logo {
  display: flex;
  margin: auto;
  max-width: 350px;
  width: 50vw;
}

/* ============== BODY ============== */
body {
  background-color: #fdfdfd;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 1rem 0 1rem 0;
}

.about-container {
  padding-bottom: 100px;
}

.gallery-list .gallery img {
  width: 400px;
}


/* ============== FOOTER ============== */
.social-media-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.footer-items {
  display: block;
}
.site-footer {
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  border-top: 1px solid #999;
  background-color: white;
  padding: 1vh;
}

.footer-logo {
  width: 25px;
}