/* ============== BODY ============== */
.home {
  padding-bottom: 50px;
}

a {
  text-decoration: none;
  color:#1D2636;
}

a:hover, a:focus {
  color: #6666e0;
}

h1, h2, h3 {
  margin: 8px 0 8px 0;
}

.gallery-list .gallery img {
  width: 400px;
}

.about-container, .projects-container, .blog-container, .contact-container {
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 50px;
}

h2 {
  padding: 5px;
  font-weight: 500;
  text-align: center;
}

.featured-list {
  margin: 0;
  padding: 0;
  text-align: center;
}

dt {
  padding-top: 10px;
}

/* ============== FOOTER ============== */
.social-media-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.footer-items {
  font-size: 10px;
  display: block;
  padding: 10px;
}
.site-footer {
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  background-color: #e8e9e8;
}

.footer-logo {
  width: 25px;
}