blockquote footer {
  font-size: 8px;
  font-weight: 700;
  color: darken(hsl(50, 5, 97), 15%);
  float: right;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  border-radius: 8px;
  margin: 16px auto;
  /* box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1); */
  max-width: 800px;
  padding: 10px;
}

blockquote:before {
  content: open-quote;  
}
  
blockquote:after {
  content: close-quote;
  position: absolute;
  font-style: italic;
  color: darken(hsl(50, 5, 97), 7%);
  z-index: -1;
}

blockquote:before {
  display: inline-block;
  vertical-align: bottom; 
  font-size: 32px;
  top: 10px;
  color: #6666e0;
  position: relative;
}

.article-list {
  padding: 0;
  margin: 0;
}

.articles {
 padding-bottom: 10px;
 /* list-style-type: disc; */
 width: 90%;
}

.blog-contents {
  padding-top: 10px;
}