.resume {
  text-align: center;
  padding-top: 16px;
  font-weight: 500;
}

.resume > a {
  color: #6666e0;
}

.contact-container {
  text-align: center;
  padding-bottom: 100px;
}

.contact-list {
  margin: 0;
  padding: 5px 0 0 0;
  text-align: center;
  font-weight: 500;
}

.contact-items {
  line-height: 200%;
}

.contact-icon {
  width: 20px;
  padding-right: 5px;
}

.contact-contents p {
  width: 85%;
}

.contact-blurb {
  padding: 10px;
}