.greeting { 
  width: 100%;
  height: 100vh;
  /* background:linear-gradient(
    rgba(14, 141, 113, 0.6), 
    rgba(29, 38, 54, 0.9)
  ); */
  background: linear-gradient(
    rgba(14, 141, 113, 0.6), 
    rgba(0, 0, 0, 0.6)
  ), url('../assets/mountain.jpg');
  background-size: cover;
  background-blend-mode: luminosity;
}

.greeting-contents {
  position: relative;
  top: 30%;
  margin: 0 auto;
}

.blurb {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #F4F0EA;
}

.highlight {
  color: #F4F0EA;
  font-weight: bold;
}

.view-link {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #F4F0EA;
  width: 150px;
  line-height: 2;
  border: 1px solid #F4F0EA;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
}

.view-link:hover {
  background-color: rgba(	244, 240, 234, 0.6);
  color: rgb(14, 141, 113);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

/* ======== greeting animation ======== */

.animate {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.animate span {
  display: inline-block;
  font-size: 48px;
  font-weight: 500;
}

.animate span:nth-of-type(2) {
  animation-delay: .05s;
}
.animate span:nth-of-type(3) {
  animation-delay: .1s;
}
.animate span:nth-of-type(4) {
  animation-delay: .15s;
}
.animate span:nth-of-type(5) {
  animation-delay: .2s;
}
.animate span:nth-of-type(6) {
  animation-delay: .25s;
}
.animate span:nth-of-type(7) {
  animation-delay: .3s;
}
.animate span:nth-of-type(8) {
  animation-delay: .35s;
}
.animate span:nth-of-type(9) {
    animation-delay: .4s;
}
.animate span:nth-of-type(10) {
  animation-delay: .45s;
}
.animate span:nth-of-type(11) {
  animation-delay: .5s;
}
.animate span:nth-of-type(12) {
  animation-delay: .55s;
}

/* ======== START ANIMATION  ======== */
.color-delay span {
  color: #F4F0EA;
  opacity: 0;
  transform: translate(-300px, 0) scale(0);
  animation: sideSlide .8s forwards;
}

@keyframes sideSlide {
  60% {
    transform: translate(20px, 0) scale(1);
    color: #6666e0;
  }

  80% {
    transform: translate(20px, 0) scale(1);
    color: #6666e0;
  }

  99% {
    transform: translate(0) scale(1.2);
    color: #d32daf;
  }

  100% {
    transform: translate(0) scale(1);
    opacity: 1;
  }
}