.moverlay {
  background-color: rgba(0, 0, 0, 0.822);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
}

.modal {
  position: fixed;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  max-height: 100%;
  min-width: 95%;
  max-width: 100%;
  text-align: center;
  overflow: auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.login-form input {
  padding: 8px 15px;
  margin: 3px;
  text-align: center;
}