/* ======= HEADER ======= */
.main-nav {
  padding: 0;
  margin: 0 auto;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
  background-color: #1D2636;
  /* background-color: #F4F0EA; */
  /* background-color: #e8e9e8; */
  /* background-color: #8DA45B; */
}

.nav-items {
  display: inline-flex;
  list-style: none outside;
  padding: 10px;
  text-align: left;
}

.nav-items a {
  /* color: #1D2636; */
  color: #f9f9fe;
}

.nav-items > a:hover {
  color: #6666e0;
}

/* ====== LOGO ====== */
.logo-wrapper {
  padding: 5px;
  margin: 0 auto;
}

.logo-wrapper h1 {
  margin: 0;
  text-align: center;
  font-weight: 200;
  font-size: 16px;
  color: #f9f9fe;
}

.logo {
  display: flex;
  max-width: 100px;
}
