.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
}

.navbar {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #1D2636;
  z-index: 9998;
}

.nav-items {
  color: #fff;
  font-size: 32px;
  text-align: left;
  padding: 50px;
  padding-left: 0;
}

.nav-items a {
  color: #f9f9fe;
  text-transform: uppercase;
}

.nav-items > a:hover, .nav-items > a:focus {
  color: #6666e0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

/* ====== LOGO ====== */
.logo-wrapper {
  padding: 5px;
  margin: 0 auto;
}

.logo-wrapper h1 {
  margin: 0;
  text-align: center;
  font-weight: 200;
  font-size: 16px;
  color: #f9f9fe;
}

.logo {
  display: flex;
  max-width: 100px;
}

.logo-wrapper h1:hover, .logo-wrapper h1:focus {
  background: -webkit-linear-gradient(  #d32daf, #629df8, #7ff7ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #6666e0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.close {
  background-color: transparent;
  color: whitesmoke;
  font-size: 10px;
  position: absolute;
  top: 5px;
  right: 10px;
}
